<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    
    <% @line_items.each do |item| %>
      <%= image_tag item.image.thumb.url , alt: item.name %>
      <%= item.name %>
      <%= item.description %>
    <% end %>

    <h4>Email:<%= @order.email %> </h4>
    <h4>Total:<%= @order.total_cents.to_f / 100 %> </h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
