<%= form_for [:admin, @category] do |form| %>

  <% if form.object.errors.any? %>
    <div class="alert alert-danger">
      <strong>The following errors prevented saving:</strong>
      <ul>
        <% form.object.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card w-50 p-3 mx-auto mt-5 border-success">
    <div class="card-body">
      <div class="mb-3">
          <%= form.label :name, class: "form-label" %>
          <%= form.text_field :name, class: 'form-control' %>
      </div>
        <%= form.submit 'Create Category', class: 'btn btn-primary' %>
      </div>
  </div>
<% end %>